/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

p {
 font-size: 18px;
}
/* Your code starts here! */

.container {
	width: 1200px;
	margin: 0 auto;

	display: flex;
	flex-direction: column;
}

header {

}

/* ---------  Top Navigatio and Logo --------- */
.top-nav ul {
	width: 1100px;
	margin: auto;
	display:flex;
	justify-content: space-between;

	margin-top: 40px ; 
	margin-bottom: 40px;
}

.top-nav li {
	display: flex;
	align-items: center;
	flex: 2;
}

.logo {
	flex:1;
}

.top-nav a {
	color:grey;
	text-decoration: none;
}
/* ---------  Top Navigatio and Logo --------- */


/* ---------  Call To Action and Image Section --------- */

body {

}

.top-content {
	width: 1100px;
	margin: auto;

	display:flex;
	justify-content: space-evenly;

	margin-top: 60px ; 
	margin-bottom: 60px;
}

.cta {
	text-align: center;
	font-size: 80px;


}

.cta button {
	border: 2px solid black;
	width: 200px ;
	height: 40px;

	font-size: 18px;
	text-transform: uppercase;
}
/* ---------  Call To Action and Image Section --------- */

.divider {
	width: 1100px;
	margin: 0 auto;
	
	border: 1px solid black;

	margin-top: 40px ; 
	margin-bottom: 40px;
}

/* ---------  Middle Content Section and Image --------- */
.mid-content-a {
	width: 1100px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;	
}

.mid-content-a div {
	margin-right: 40px;
}

.middle-img {
	width: 1100px;
	margin: 0 auto;

	margin-top: 60px ; 
	margin-bottom: 60px;
}

.mid-content-b {
	width: 1100px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;	
}

.mid-content-b div {
	margin-right: 40px;
}
/* ---------  Middle Content Section and Image --------- */




/* ---------  Contact Section--------- */

.contact {
	width: 1100px;
	margin: 0 auto;

	display: flex;
	flex-direction: column;
	align-items: center;

	text-align: center;

 
	margin-bottom: 60px;
}
/* ---------  Contact Section--------- */


/* ---------  Footer Section--------- */

footer {
	width: 1100px;
	height: 110px;
	margin: 0 auto;

	display: flex;
	justify-content: center;
	align-items: center;

	text-align: center;

	background-color: lightgray;

	font-style: italic;
}

/* ---------  Footer Section--------- */

